<div class="col-md-3">
	<div class="btn-group-vertical btn-block" role="group">
  	<%= link_to "Editar perfil", "/profiles/#{current_user.profile.id}/edit", class: "btn btn-default" %>
  	<%= link_to "Modificar cuenta de usuario", "/user/edit", class: "btn btn-default" %>
	</div>
</div>