<!-- Cuadro de búsqueda de perfiles de usuario -->
<form action="/profiles/search" method="get">
	
	<div class="container row">
	  
	  <!-- Cuadro de búsqueda -->
	  <div class="text-right">
		  <input type="text" name="q" placeholder="Buscar usuarios">
		  <button type="submit">Buscar</button>
		</div>

		<br/>

  </div>

</form>