<div class="row">
  <div class="col-md-9">
    <h1>Historias</h1>
  </div>
  <div class="col-md-3">
    <form action="/stories/search" method="get" role="form">
      <div class="form-group has-feedback index-searchbox">
        <input class="form-control" type="text" name="q" placeholder="Buscar..." value="<%= @q %>" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
      </div>
    </form>
  </div>
</div>

<!-- Tabs para cada listado -->
<ul class="nav nav-tabs nav-justified">
  
  <!-- Todas las historias (todos los usuarios) -->
  <li <% if option == "all" %>class="active"<% end %> role="presentation">
    <%= link_to "Todas", stories_path, class:"btn btn-default" %>
  </li>

  <!-- Historias adquiridas (sólo usuarios logueados) -->
  <% if user_signed_in? %>

    <li <% if option == "acquired" %>class="active"<% end %> role="presentation">
      <%= link_to "Adquiridas", stories_acquired_path, class:"btn btn-default" %>
    </li>

    <!-- Historias creadas (sólo usuarios premium y admins) -->
    <% unless current_user.role_type == "FreeUser" %>
      
      <li <% if option == "created" %>class="active"<% end %> role="presentation">
        <%= link_to "Creadas", stories_created_path, class:"btn btn-default" %>
      </li>

    <% end %>

  <% end %>

</ul>
<br/>