<% unless @stories.blank? %>
	<% @stories.each_slice(4) do |stories| %>
  	<div class="row">
    	<% stories.each do |story| %>
      	<div class="col-md-3">
        	<%= render 'stories/story_slot', story: story %>
      	</div>
    	<% end %>
  	</div>
	<% end %>
<% else %>
	<p class="alert-alert">No se han encontrado resultados</p>
<% end %>