<div class="text-center">
  <a href="/stories/<%= story.id %>">
  <div class="story">
    <p class="title"><%= story.title %></p>
      <%= render 'stories/story_cover', story: story %>
    <div class="story-info">
      <p class="author"><%= story.creatorProfile.name %></p>
    </div>
  </div>
  </a>
</div>
