<div class="valoration">
  <!-- TODO: Lógica de la valoración aún por terminar -->
  <% (1..valoration/2).each do |i| %>
    <img class="valoration-star" src="/assets/star_3.png" />
  <% end %>
  <img class="valoration-star" src="/assets/star_1.png" />
</div>
