<div class="row">
  <div class="col-md-9">
      <%= render 'stories/list' %>
  </div>
  <div class="col-md-3">
    <div class="story-search-params">
      <div class="categories">
        <h3>GÉNEROS</h3>
        <hr/>
        <% @categories.each do |category| %>
          <% if @category and @category == category %>
            <p><strong><%= category.name %></strong></p>
          <% else %>
            <p><%= category.name %></p>
          <% end %>
        <% end %>
      </div>
      <hr/>
      <form action="/stories/search" method="get" role="form">
        <div class="form-group has-feedback">
          <label class="control-label">Buscar</label>
          <input class="form-control" type="text" name="q" placeholder="Buscar..." value="<%= @q %>" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </form>
      <hr/>
      <div class="filter">
        <h3>FILTRAR POR</h3>
      </div>
    </div>
  </div>
</div>
