<body id="bd">
<%= form_tag do %>
    <div class="container" id="cc">
      <div class="jumbotron  col-md-6 col-md-offset-3 row" id="jm">
        <h1 class="text-center" id="tit">Generador de código</h1>

        <div class="row">
          <div class="col-md-12 text-center">
            <input type="button" value="Generar" onclick="generateMemberCode()">
            <tr class="form-inputs">
              <input type="text" style="color: black" value=<%= @genCode %> maxlength="16" id="complText">
            </tr>
            <%= submit_tag 'Guardar', class: "btn btn-primary", id:"bt" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
</body>

<script>
  function generateMemberCode(){
    location.reload()
  }
</script>