<body id="bd">

	<div class="container">
    <div class="jumbotron col-md-8 col-md-offset-2 row" id="jm">
      <h3>¿Qué es ser premium?</h3>
      <p>En esta versión beta en la que te encuentras hemos limitado el creador de historias, para darte un mejor servicio y de calidad. Aunque más adelante todo el mundo podrá crear historias, mientras dure la beta, solo podrán los creadores premium.</p>
      <br>
      <h3>¿Sólo pago para crear historias?</h3>
      <p>No sólo eso: no tendrás publicidad, ayudarás a mejorar la página y más adelante tendrás acceso exclusivo a portadas premium y diferentes posibilidades con el maker que sólo podrán usar los premium. También, al pagar en esta versión beta, pagarás por una cuenta vitalicia, siendo de los primeros usuarios en tenerla.</p>
      <br>
      <h3>Tengo un amigo que no pagó por su cuenta premium, ¿por qué he de pagar yo?</h3>
      <p>Para promocionar la página de vez en cuando regalamos cuentas premium a escritores de relatos y novelas, ahora mismo no estamos regalando ninguna, pero si eres un creador de novelas y relatos puedes contactarnos a este correo y estudiaremos tu caso: <a href="mailto:support@treestory.com">support@treestory.es</a></p>
      <br>
      <h3>Entonces, si no soy premium, ¿qué puedo hacer?</h3>
      <p>Puedes hacerte una cuenta, adquirir historias, leerlas e interactuar con otros usuarios en la red social. Si simplemente eres un lector y no te molesta la publicidad no necesitas cuenta premium, aunque si quieres puedes hacerte con una para ayudarnos a mejorar la web.</p>
      <br>
      <h3>¿Cuánto durará la beta?</h3>
      <p>El tiempo de su duración es difícil de estimar, estamos trabajando duro por tener una aplicación que podáis disfrutar como es debido, hasta que no consideremos que es el momento seguirá la beta.</p>
      <br>
      <h3>Tengo más dudas. ¿Dónde puedo preguntar?</h3>
      <p>Puedes preguntarnos lo que quieras en <a href="mailto:support@treestory.com">support@treestory.es</a></p>
      <br>
      <a onclick="goBack()">Volver</a>
      <script>
      	function goBack() {
        	window.history.back();
				}
      </script>
    </div>
	</div>

</body>
</html>