// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.category-row{
  margin: 1em;
}

.category-list{
  margin-bottom:1em;
}

.block-right{
  float: left;
  align-items: center;
}
.block-left{
  float: left;
  margin-left: 1em;
}
.buttons{
  clear: left;
  position: relative;

}
.button{
  text-align: center;
  display: inline-block;
}
.field{
  margin: 1em 0;
}
/* Rompe la estética de la web */
/*body.cuerpoCat{
  background-image: url("/assets/mosaico.jpg");
  background-repeat: repeat-x repeat-y;
}*/
#cabecera{
  font-size: 200%;
}
.jumboCat{
  background: rgba(255, 255, 255, 0.75) !important;
  padding-top: 20px !important;
  margin-top: 30px !important;
}
#btnc{
  color: #FFFFFF !important;
}

img.cover{
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subtitle h3{
  margin-top: 33px;
}