// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Categories list */

.jumbo-cat{
  background: rgba(255, 255, 255, 0.75) !important;
  padding-top: 20px !important;
}

.category{
  margin: 20px 0 20px 0;
  font-size: 20px;
}

.button-new-cat{
  margin-top: 20px;
}