// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo-verde{
	background-color: #002400 !important;
  color: #FFFFFF !important;
}

.jumbo-verde p{
	font-size: 14px !important;
}

.jumbo-verde a, .jumbo-verde a:hover{
	color: #ECA701 !important;
}