// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jdon1{
  background-image: url("http://gemtheatre.org/images/Donations.jpg");
  opacity:0.7;
  background-position: 0% 50%;

}
.jdon2{
  opacity: 0.8;
}

#cabdon{
  font-size: 25px;
}
#textdon{
  opacity: 1 !important;
  resize: none;
}
.btndon{

}