// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Listar y mostrar perfiles */

.private{
	color: black !important;
	font-size: 20px !important;
}

.left-divider{
	border-left: 1px solid;
}

.boton{
	margin-top: 10px;
	margin-bottom: 10px;
}

.gris{
	margin-top: 20px !important;
	color: #555555 !important;
}

hr{
	width: 100% !important;
}


/* Editar perfil */

.jumbo-blanco{
	background-color: white !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.btn-group-vertical .btn{
	border: 0;
}