.glyphicon, glyphicon:hover{
	color: black !important;
	font-size: 20px !important;
}

.libro{
	height: 20px;
}

.left-divider{
	border-left: 1px solid;
}

.boton{
	margin-top: 10px;
	margin-bottom: 10px;
}

.boton .btn-primary{
	color: white !important;
	background-color: #113e05 !important;
	border: 0 !important;
	border-radius: 0 !important;
}

.boton .btn-primary:hover{
	background-color: darkgreen !important;
}

.escritura{
	margin-top: 20px !important;
}

.gris{
	color: #555555 !important;
}

.stories{
	background-color: white;
	border: 1px solid gray;
	box-shadow: 2px 2px 5px #888888;
	padding: 0 !important;
	margin-top: 0 !important;
	margin-left: 10px !important;
	align-content: left;
}

.stories p{
	margin: 0px !important;
	margin-left: 2px !important;
	font-size: 90%;
}

a, a:hover{
	text-decoration: none !important;
	color: black !important;
}

hr{
	width: 100% !important;
}


.jumbo-blanco{
	background-color: white !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding-bottom: 20px !important;
}

.btn-group-vertical .btn{
	border: 0;
}

.form-control{
	margin-bottom: 10px !important;
	border-radius: 0 !important;
}

h4{
	margin-bottom: 15px !important;
}