// Place all the styles related to the story controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* No se usa

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.option{
  background-color: #ddd;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 5px;
}

.glyphicon-remove-circle{
  margin: 0.2em;
}*/


/* Story slot */

.story {
  text-align: center;
  font-size: 95%;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px #888888;
  display: inline-block;
  margin-bottom: 20px;
}

.story p {
  text-transform: uppercase;
  text-align: left;
  margin-top: 2px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
}

.story-info p {
  font-size: 95%;
}


/* No se usa

.story-info .valoration {
  text-align: left;
  margin-left: 6px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.valoration-star {
  height: auto;
  max-height: 16px;
}*/


/* Editar información de historia */

.cover-image {
  height: auto;
  width: 100%;
  max-height: 300px;
  max-width: 200px;
}


/* Mostrar historia */

.story-block{
  border: 1px solid #ccc;
  background-color: white;
  padding: 0 15px 15px 15px;
}

/* Relativo a story-metadata */

.story-metadata hr {
  width: 80% !important;
}

.story-metadata p {
  font-size: 135%;
}

/* Relativo a story-data */

.story-data hr {
  margin-top: 0px !important;
  width: 40% !important;
}

.story-data .btn {
  color: black;
  width: 25% !important;
}

.story-data .btn:hover,
.story-data .btn:active,
.story-data .btn:focus {
  color: black;
}

.story-data .btn-adquirir {
	background-color: #ff9000 !important;
}

.story-data .btn-adquirir:hover,
.story-data .btn-adquirir:active,
.story-data .btn-adquirir:focus {
	background-color: #ef8000 !important;
}

.story-data .btn-leer {
	background-color: #b3bcff !important;
}

.story-data .btn-leer:hover,
.story-data .btn-leer:active,
.story-data .btn-leer:focus {
	background-color: #a3acef !important;
}

p.btn-label {
  font-size: 1.4em;
  margin-bottom: 0.1em;
}

/* Comentarios */

.story-comments {
  margin-top: 30px;
}


/* Búsqueda */

.story-search-params hr {
  width: 60% !important;
}


/* Lector */

.book-title{
  margin-bottom: 30px;
}

.book-title h1, .book-title h3{
  margin-top: 0;
}

a.book-option, a.book-back{
  cursor: pointer;
}

a.book-option,
a.book-option .glyphicon{
  color: green !important;
}

a.book-option:hover,
a.book-option:focus,
a.book-option:active{
  color: darkgreen !important;
}

a.book-back,
a.book-back .glyphicon{
  color: red !important;
}

a.book-back:hover,
a.book-back:focus,
a.book-back:active{
  color: darkred !important;
}

.book .glyphicon{
  font-size: 12px !important;
}

.page-left, .page-right{
  border-top: solid 3px;
  border-bottom: solid 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.page-right{
  border-left: solid 2px;
  border-right: solid 30px #808080;
}

.page-left{
  border-left: solid 1px #808080;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}