/* Novedades */

.category-block{
  margin-bottom: 50px;
}

.category-header img{
  height: auto;
  width: 100%;
  max-height: 30px;
  max-width: 30px;
  margin-right: 5px;
}

.category-header span{
  vertical-align: bottom;
}


/* Escritores */

.writer-avatar{
  margin: 10px 0 10px 0;
}

.writer-button{
  margin: 20px 0 35px 0;
}


/* index-slider */

/* No se usa

.slick-content {
  height: 450px;
}

.index-story-info {
  margin-left: 17px;
}

.index-story-info .trendings {
  margin-bottom: 20px;
}

.index-story-info .author {
  font-size: 1.12em;
  margin-bottom: 0 !important;
  margin-right: 25px;
}

.index-story-info .category {
  float: right;
}

.index-story-info .title {
  margin-top: 0 !important;
}

.index-story-cover {
  margin-right: 17px;
  height: 450px;
}

.index-story-cover .title {
  position: absolute;
  bottom: 10%;
  right: 0;
  margin-right: 17px;
  width: 50%;
  height: 10%;
  border: 1px solid lightgray;
  border-right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.index-story-cover .title h3 {
  position: relative;
  margin: 0 !important;
  top: 20%; // ATENCIÓN: esta forma de centrar no es apropiada y depende del ancho del div padre
  text-align: center;
}

.index-story-info .more-details {
  font-weight: bold;
  color: #b89439;
  display: inline-block;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

*/
