<div class="row">

  <div class="jumbotron jumboCat col-md-10 col-md-offset-1 text-center">
    
    <h2>Géneros</h2>
    
    <div class="row">
      <% @categories.each do |category|%>
      <div class="col-md-4 categories">
        <a href="/categories/<%=category.id%>">
          <img src="<%=category.icon %>" height="50" />
          <span class="cat-name">&nbsp;<%=category.name%></span>
        </a>
      </div>
      <% end %>
    </div>

    <% if user_signed_in? and (current_user.role_type == 'Administrator') %>
    <div class="buttons text-center button-new-cat">
      <%= link_to 'Nuevo género', new_category_path, class: 'btn btn-default' %>
    </div>
    <% end %>

  </div>

</div>