<footer>
  <nav class="navbar navbar-footer navbar-bottom" role="navigation">
    <div class="container">
    	<div class="navbar-collapse collapse">
	    	<ul class="nav navbar-nav">
	    		<!-- TODO Añadir enlaces -->
		    	<!-- <li><a href="#">About us</a></li> --><!-- Vista pospuesta -->
			    <li><a href="/pages/legal">Términos legales</a></li>
			    <li><a href="mailto:support@treestory.com">Contactar con el soporte</a></li>
          <li><a href="/payment/donate">Colabore con la web</a></li>
			  </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li class="copyright"><b>&#0169; Tree Story <span id="year"/></b></li>
			    <script>
			      $('#year').text(new Date().getFullYear());
			    </script>
			  </ul>
		  </div>
	  </div>
  </nav>
</footer>